<!DOCTYPE HTML>
<html>
<title>tally - test case</title>
<script src="/tally.js"></script>
<script>
var data = {
  list: ["one", "two", "three"],
  listHTML: ["<b>&nbsp;apple</b>", "<i>banana&copy;</i>", "<u>carrot</u>"],
  oneList: ["only one bullet!"],
  emptyList: [],
  nullList: null,
  value: 5,
  floater: 33333.333333,
  text: "brown fox jumped",
  klass: "bluish",
  ztyle: "background:pink",
  func: function(v) {return v + ": " + this.text;},
  truthy: true,
  homepage: "http://www.google.com",
  indented: {indented: {cool: "indented stuff", func: function(v) {return v + ": " + this.cool;}}}
};

</script>
<style>
body {font-size:11pt}
p {margin:2em}
td {padding:0; width:30%; vertical-align:top}
ul {list-style-type:square; border:1px dashed #ccc}
h2 {background-color:#eee; text-align:center; font-size:1em; padding:3px; margin:0 0 0.5em 0}
.bluish {background:#aaf}
</style>
<body onload="if(/\bauto=1\b/i.test(location))tally(document.body,data);">
<a href="javascript:tally(document.body,data);">Run Distal</a>

<table cellspacing=5 border=0 width="100%">
<tr>

<td class="box"><h2>Test tally-repeat</h2>
  <ul>
    <li data-tally-repeat="m list" data-tally-text="m">(There will be 3 bullets)</li>
  </ul>
  <span data-tally-repeat="m list"><span data-tally-if="# ne 1">, </span><span data-tally-text="m"></span></span>
</td>

<td class="box"><h2>Test tally-repeat with html</h2>
  <ul>
    <li data-tally-repeat="m listHTML" data-tally-text="html m">(There will be 3 html bullets)</li>
    <li data-tally-repeat="m listHTML" data-tally-text="m">(There will be 3 escaped bullets)</li>
  </ul>
</td>

<td class="box"><h2>Test tally-repeat with SELECT</h2>
  <select size=7>
    <option data-tally-repeat="m list" data-tally-attribute="text m">(There will be 3 options)</option>
    <optgroup data-tally-repeat="m list" data-tally-attribute="label m" label="(and 3 groups)"><option data-tally-text="m"></option></optgroup>
  </select>
</td>

</tr><tr>

<td class="box"><h2>Test tally-repeat with array length 1</h2>
  <ul>
    <li data-tally-repeat="m oneList" data-tally-text="m">(There will be 1 bullet)</li>
    <li data-tally-dummy="1">(There will be 1 bullet)</li>
    <li data-tally-dummy="1">(There will be 1 bullet)</li>
  </ul>
</td>

<td class="box"><h2>Test tally-repeat with array null</h2>
  <ul>
    <li>there will only be 1 bullet (cost: $<span data-tally-text="floater ,.">1,000.00</span>)
      <ol><li data-tally-repeat="m nullList" data-tally-text="m">(this will not show)</li></ol>
    </li>
  </ul>
</td>

<!-- This is where the bug is -->
<td class="box"><h2>Test tally-repeat with table</h2>
  <table border=1>
    <tr><th>#</th><th>Age</th></tr>
    <tr data-tally-repeat="m list"><td data-tally-text="#"></td><td data-tally-text="m">(test)</td></tr>
  </table>
</td>

</tr>
<tr>

<td class="box"><h2>Test QIF</h2>
  <ul>
    <li data-tally-if="value">5 is truthy</li>
    <li data-tally-if="nullList">null is falsy</li>
    <li data-tally-if="value gt 3">5 &gt; 3</li>
    <li data-tally-if="value gt 4">5 &gt; 4</li>
    <li data-tally-if="value gt 4.5">5 &gt; 4.5</li>
    <li data-tally-if="value lt 4">5 &lt; 4, hide me!</li>
    <li data-tally-if="value lt 6">5 &lt; 6</li>
    <li data-tally-if="value eq 5">5 == 5</li>
    <li data-tally-if="value ne 5">5 != 5, hide me!</li>
    <li data-tally-if="not:truthy">not true, hide me!</li>
    <li data-tally-if="text cn brown fox">"brown fox jumped" contains "brown fox"</li>
    <li data-tally-if="text nc brown">"brown fox jumped" doesn't contain "brown", hide me!</li>
    <li data-tally-if="text cn bird">"brown fox jumped" contains "bird", hide me!</li>
    <li data-tally-if="text nc bird">"brown fox jumped" doesn't contain "bird"</li>
  </ul>
</td>

<td class="box"><h2>Test Qdata-tally-attribute with className</h2>
  <span data-tally-attribute="class klass">make class .bluish</span><br>
  <span data-tally-attribute="style ztyle">make css pink</span>
</td>

<td class="box"><h2>Test Qdata-tally-attribute</h2>
  <input type="text" size=30 value="...." data-tally-attribute="value indented.indented.cool; title indented.indented.func"><br>
  <fieldset>
    <legend data-tally-text="text">(...)</legend>
    <input type="text" size=20 value="float with commas" data-tally-attribute="value floater ,.; title floater ,.">
    <input type="text" size=10 value="(zero)" data-tally-text="emptyList.length">
  </fieldset>
  <textarea rows=2 cols=15 data-tally-attribute="value text" title="ok"></textarea><br>
  <u><label for="tt" data-tally-text="text">Label</label>:</u> <input id="tt" type="checkbox" data-tally-attribute="checked truthy" title="ok"><br>
  <input type="button" value="disable me" data-tally-attribute="disabled truthy; title text">
  <button type="reset" data-tally-attribute="value text" data-tally-text="text">b<b>utto</b>n</button><br>
  <a href="javascript:void(0);" data-tally-attribute="href homepage; title text" title="see tooltip" data-tally-text="text">see tooltip</a>
</td>

</tr>
</table>
<br><a href="http://code.google.com/p/distal">&laquo; Back</a>
</body>
</html>