<!doctype html>
<html lang='en'>
<head>
	<title>Tally</title>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width'>
	<link rel='stylesheet' type='text/css' href='css/base.css'>
	<link rel='stylesheet' type='text/css' href='css/how-is-tally-different.css'>
</head>
<body>
	<a href='/'><h1><img id='tally-logo' src='images/tally-logo.svg' alt='Tally logo'></h1></a>

	<p id='short-description'>Tally is a simple, unobtrusive, design‐led JavaScript template engine for Node.js and browsers.</p>

	<p id='alpha-notice'><strong>Currently in alpha and under heavy development.</strong> Feel free to take a peek and play around with it but there is very little documentation, things may look a little rough on this site, and there may be slight API changes.</p>

	<div role='main'>
		<h2>How is Tally different?</h2>

		<ul id='features'>
			<li><strong>It is unobtrusive.</strong> Your templates are 100% valid HTML 5.</li>
			<li><strong>It is simple.</strong> There is no confusing or error‐prone mapping code to write. <small>(Unlike other unobtrusive frameworks like Plates, Notemplate, etc.)</small></li>
			<li><strong>It is visual.</strong> Your templates are What You See Is What You Get. <small>(Unlike frameworks like Handlebars and other members of the extended Moustache family.)</small></li>
			<li><strong>It is flexible.</strong> Design in the browser or in your favourite visual editor and use mock data in your templates. The same templates are used for design and development. You don’t need access to the server to work on the design of your site or app.</li>
			<li><strong>It is <abbr title='Don’t Repeat Yourself'>DRY</a>.</strong> Use the same template on server and on client.</li>
			<li><strong>It is friendly.</strong> It speaks human; there are no confusing acronyms or codes to remember.</li>
			<li><strong>It is fast.</strong> Not that speed is everything, but Tally’s rendering speeds differ negligibly from those of Handlebars.</li>
			<li><strong>It is design‐led.</strong> Design and development are facets of an ongoing, iterative process. Tally embraces this, while acknowledging that the tasks of design and development may have different requirements regardless of whether they are performed by the same person or different people within teams. Tally supports a pragmatic, iterative, and collaborative workflow where design and development have equal value. It enables seamless collaboration between design and development while encouraging the tasks to be performed in parallel by removing any dependencies between them.</li>
			<li><strong>It is lean.</strong> Every feature in Tally earns its right to exist via a trial by fire. It’s always open season on bloat. Elegance, simplicity, beauty, and attention to detail are the guiding principles in all aspects of its design and development.</li>
		</ul>
	</div>

	<footer>
		<p>Copyright © 2013, <a href='http://aralbalkan.com'>Aral Balkan</a>. Released under the MIT License. Portions released under the Apache License. <a href='mailto:aral@aralbalkan.com'>Questions, feedback, etc.</a></p>
	</footer>

	<script type="text/javascript">
	  var _gauges = _gauges || [];
	  (function() {
	    var t   = document.createElement('script');
	    t.type  = 'text/javascript';
	    t.async = true;
	    t.id    = 'gauges-tracker';
	    t.setAttribute('data-site-id', '5148ec38613f5d21be0000c3');
	    t.src = '//secure.gaug.es/track.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(t, s);
	  })();
	</script>

</body>
</html>