<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title data-qtext='title'></title>

        <link data-qif='false' rel='stylesheet' type='text/css' href='tally-hightlights.css'>
        <script data-qif='false' src='tally-hightlights.js'></script>
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>Hello from {{name}}!<p>

        <p>{{content}}</p>

        <p><a data-qattr='href newURL' href='{{somelink}}'>This should link to Aral’s homepage.</a></p>

        <p><a href='{{fullURL}}'>This should link to the Modern iOS Development workshop.</a></p>

        <p>This should be Aral’s headshot:</p>

        <img data-qattr='src aralImageURL' src='http://placehold.it/250x250'>

        <h2>Friends and their skills</h2>

        <ul data-qrepeat='friend friends'>
            <li>
                <p><span data-qtext='friend.name'>Name</span> knows <span data-qtext='friend.skills'>skills</span>.</p>
            </li>
            <li data-qif="false">
                <p>Some sample content.</p>
            </li>
            <li data-qif="false">
                <p>That could help when styling the page.</p>
            </li>
        </ul>

        <p data-qif='not:friends'>Error: No friends found.</p>


    </body>
</html>