<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title data-qtext='title'></title>
        <!-- Icons:
            Repeat: Interactivemania - http://www.interactivemania.com
            http://www.iconfinder.com/icondetails/49846/128/alt_media_repeat_icon
        -->
        <style type='text/css'>
            body { max-width: 400px; }
            img { max-width:250px; }

            /* Template highlights */
            [data-qrepeat], [data-qtext], [data-qattr] {border: 1px dotted black;}
            [data-qrepeat]:before {
                content: url('repeat.png');
                float:right;
            }
            [data-qif^="not:"] {
                border: 1px dotted red;
            }
        </style>
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>Hello from {{name}}!<p>

        <p>{{content}}</p>

        <p><a data-qattr='href newURL' href='{{somelink}}'>This should link to Aral’s homepage.</a></p>

        <p><a href='{{fullURL}}'>This should link to the Modern iOS Development workshop.</a></p>

        <p>This should be Aral’s headshot:</p>

        <img data-qattr='src aralImageURL' src='http://placehold.it/250x250'>

        <h2>Friends and their skills</h2>

        <ul data-qrepeat='friend friends'>
            <li>
                <p><span data-qtext='friend.name'>Name</span> knows <span data-qtext='friend.skills'>skills</span>.</p>
            </li>
            <li data-qif="false">
                <p>Some sample content.</p>
            </li>
            <li data-qif="false">
                <p>That could help when styling the page.</p>
            </li>
        </ul>

        <p data-qif='not:friends'>Error: No friends found.</p>


    </body>
</html>