<!doctype html>
<html lang='en'>
<head>
	<title>Tally</title>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width'>
	<link rel='stylesheet' type='text/css' href='css/base.css'>
	<link rel='stylesheet' type='text/css' href='css/index.css'>
</head>
<body>
	<h1><img id='tally-logo' src='images/tally-logo.svg' alt='Tally logo'></h1>

	<p id='short-description'>Tally is a simple, unobtrusive, and visual design‐led JavaScript template engine for Node.js and browsers.</p>

	<div role='main'>
		<h2>How is Tally different?</h2>

		<ul id='features'>
			<li><strong>It is unobtrusive.</strong> Your templates are 100% valid HTML 5.</li>
			<li><strong>It is simple.</strong> There is no confusing or error‐prone mapping code to write. <small>(Unlike other unobtrusive frameworks like Plates, Notemplate, etc.)</small></li>
			<li><strong>It is visual.</strong> Your templates are What You See Is What You Get. <small>(Unlike frameworks like Handlebars and other members of the extended Moustache family.)</small></li>
			<li><strong>It is flexible.</strong> Design in the browser or in your favourite visual editor and use mock data in your templates. The same templates are used for design and development. You don’t need access to the server to work on the design of your site or app.</li>
			<li><strong>It is <abbr title='Don’t Repeat Yourself'>DRY</a>.</strong> Use the same template on server and on client.</li>
			<li><strong>It is friendly.</strong> It speaks human; there are no confusing acronyms or codes to remember.</li>
			<li><strong>It is fast.</strong> Not that speed is everything, but Tally’s rendering speeds differ negligibly from those of Handlebars.</li>
			<li><strong>It is design‐led.</strong> Design and development are facets of an ongoing, iterative process. Tally embraces this, while acknowledging that the tasks of design and development may have different requirements regardless of whether they are performed by the same person or different people within teams. Tally supports a pragmatic, iterative, and collaborative workflow where design and development have equal value. It enables seamless collaboration between design and development while encouraging the tasks to be performed in parallel by removing any dependencies between them.</li>
			<li><strong>It is lean.</strong> Every feature in Tally earns its right to exist via a trial by fire. It’s always open season on bloat. Elegance, simplicity, beauty, and attention to detail are the guiding principles in all aspects of its design and development.</li>
		</ul>

		<h2>Examples</h2>
		<ul>
			<li><a href='/simple'>A comparison of Tally, Handlebars, and Plates with static data.</a></li>
			<li><a href='/posts'>App.net global timeline example</a> (<a href='/posts.html'>template</a>, <a href='/posts-real-data.html'>template with real data</a>)</li>
			<li><a href='/posts-client-side-updates'>App.net global timeline with client‐side updates</a> using the same template.</li>
			<li><a href='/profile'>App.net global timeline example with profiling</a> (<a href='/profile.html'>template</a>) <small>Check the console for timings.</small></li>
		</ul>

		<h2>Read me</h2>

		<p>Learn more about Tally in <a href='/readme'>the read‐me document</a>.</p>

		<h2>Tests</h2>

		<ul>
			<li><a href='/client-side-tests.html'>Client‐side tests</a></li>
		</ul>

		<h2>Source code</h2>

		<p>Grab the source code from <a href='https://github.com/aral/tally'>Tally’s GitHub repository</a>.</p>
	</div>

	<footer>
		<p>Copyright © 2013, <a href='http://aralbalkan.com'>Aral Balkan</a>. Released under the MIT License. Portions released under the Apache License. <a href='mailto:aral@aralbalkan.com'>Questions, feedback, etc.</a></p>
	</footer>

</body>
</html>