<!doctype html>
<html lang='en'>
<head>
	<title>Tally</title>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width'>
	<link rel='stylesheet' type='text/css' href='css/base.css'>
	<link rel='stylesheet' type='text/css' href='css/index.css'>
</head>
<body>
	<h1><img id='tally-logo' src='images/tally-logo.svg' alt='Tally logo'></h1>

	<p id='short-description'>Tally is a simple, unobtrusive, design‐led JavaScript template engine for Node.js and browsers.</p>

	<div role='main'>

		<section class='leader'>
			<h2>Getting started</h2>

			<img id='hello-badge-image' src='http://aralbalkan.com/images/tally-hello-world.png' alt='The Hello Badge output.'>

			<p><a href='https://github.com/aral/tally-hello-badge-1-text-and-attribute'>Hello Badge</a> is a simple 4‐part series of examples. It is the ‘Hello, world!’ of Tally and introduces the core concepts.</p>

			<p class='action-item'><a href='https://github.com/aral/tally-hello-badge-1-text-and-attribute'>Start playing with Tally now.</a></p>
		</section>

		<section class='leader'>
		<h2>How is Tally different?</h2>

			<ul>
				<li><strong>It is unobtrusive.</strong> Your templates are 100% valid HTML 5.</li>
				<li><strong>It is simple.</strong> No confusing, error‐prone mapping code to write.</li>
				<li><strong>It is visual.</strong> Design in the browser or your favourite visual editor. Use mock data in your templates.</li>
				<li><strong>It is <abbr title='Don’t Repeat Yourself'>DRY</a>.</strong> Use the same template on server and on client.</li>
			</ul>

			<p class='action-item'><a href='how-is-tally-different.html'>Read more about how Tally is different.</a></p>
		</section>

		<section class='leader'>
			<h2>Play with this site locally</h2>

			<ol>
				<li>Install Tally: <pre><code>npm install tally</code></pre></li>
				<li>Change to the Tally folder: <pre><code>cd node_modules/tally/</code></pre>
				<li>Start the server: <pre><code>npm start</code></pre></li>
			</ol>

			<p>Go to <a href="http://localhost:3000/">http://localhost:3000</a> and play!</p>

			<p class='footnote'><small>Note: Tally is written in CoffeeScript. <code>npm install -g coffee-script</code></small></p>
		</section>

		<h2>Other examples</h2>
		<ul>
			<li><a href='/simple'>A comparison of Tally, Handlebars, and Plates with static data.</a></li>
			<li><a href='/posts'>App.net global timeline example</a> (<a href='/posts.html'>template</a>, <a href='/posts-real-data.html'>template with real data</a>)</li>
			<li><a href='/posts-client-side-updates'>App.net global timeline with client‐side updates</a> using the same template.</li>
			<li><a href='/profile'>App.net global timeline example with profiling</a> (<a href='/profile.html'>template</a>) <small>Check the console for timings.</small></li>
		</ul>

		<h2>Source code</h2>

		<p>Grab the source code from <a href='https://github.com/aral/tally'>Tally’s GitHub repository</a>.</p>

		<h2>Tests</h2>

		<ul>
			<li>To run the tests, simply execute <code>npm test</code></li>
			<li><a href='/client-side-tests.html'>Client‐side tests</a></li>
		</ul>

		<h2>Build information</h2>

		<p>Version <span data-tally-text='version'>x.x.x</span>. <a href='https://travis-ci.org/aral/tally'><img src='https://travis-ci.org/aral/tally.png?branch=master' alt='Build status' style='vertical-align:text-bottom'></a></p>

		<h2>Acknowledgements</h2>

		<p>Tally is based on the excellent <a href='http://code.google.com/p/distal/'>Distal template engine</a> by a very talented anonymous developer.</p>

		<p>A big thank‐you to <a href='https://twitter.com/ktty1220'>ktty1220</a> for kindly changing the name of his project in npm to <a href='https://github.com/ktty1220/tiny-totalizer'>TinyTotalizer</a> so I could use Tally.</p>

	</div>

	<footer>
		<p>Copyright © 2013, <a href='http://aralbalkan.com'>Aral Balkan</a>. Released under the MIT License. Portions released under the Apache License. <a href='mailto:aral@aralbalkan.com'>Questions, feedback, etc.</a></p>
	</footer>

	<a href="https://github.com/aral/tally"><img style="position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;" src="images/fork-me-right-grey@2x.png" alt="Fork me on GitHub"></a>

	<script type="text/javascript">
	  var _gauges = _gauges || [];
	  (function() {
	    var t   = document.createElement('script');
	    t.type  = 'text/javascript';
	    t.async = true;
	    t.id    = 'gauges-tracker';
	    t.setAttribute('data-site-id', '5148ec38613f5d21be0000c3');
	    t.src = '//secure.gaug.es/track.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(t, s);
	  })();
	</script>

</body>
</html>