<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width'>
	<title data-tally-text='title'>Default title</title>

	<link rel='stylesheet' href='css/base.css'>
	<link rel='stylesheet' href='css/github.css'>
	<link rel='stylesheet' href='css/readme.css'>
</head>
<body>
	<h1 data-tally-if='error' data-tally-text='title'>Error message</h1>

	<section role='main' data-tally-text='html readme'></section>

	<p><a href='/'>Return to the index.</a></p>
</body>
</html>