<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width'>
	<title data-tally-text='title'>Default title</title>

	<link rel='stylesheet' href='css/base.css'>
	<link rel='stylesheet' href='css/github.css'>
	<link rel='stylesheet' href='css/readme.css'>
</head>
<body>
	<h1 data-tally-if='error' data-tally-text='title'>Error message</h1>

	<section role='main' data-tally-text='html readme'></section>

	<p><a href='/'>Return to the index.</a></p>

	<script type="text/javascript">
	  var _gauges = _gauges || [];
	  (function() {
	    var t   = document.createElement('script');
	    t.type  = 'text/javascript';
	    t.async = true;
	    t.id    = 'gauges-tracker';
	    t.setAttribute('data-site-id', '5148ec38613f5d21be0000c3');
	    t.src = '//secure.gaug.es/track.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(t, s);
	  })();
	</script>
</body>
</html>