<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width'>
    <title data-tally-text='title'></title>

    <link rel='stylesheet' type='text/css' href='css/base.css'>
    <link data-tally-dummy rel='stylesheet' type='text/css' href='css/tally-highlights.css'>

    <!-- Syntax highlighting for the code -->
    <link rel='stylesheet' type='text/css' href='css/prism.css'>
    <script data-tally-dummy src='js/tally-highlights.js'></script>

    <link rel='stylesheet' type='text/css' href='css/simple.css'>

</head>
<body>

    <header>
        <h1><a href='/'><img id='tally-logo' src='images/tally-logo.svg' alt='Tally logo'></a></h1>
    </header>

    <ul class='tabs'>
        <a href='/simple'><li data-tally-attribute='class renderedClass' class='tab'>Rendered</li></a>
        <a data-tally-dummy href='/simple.html'><li class='tab selected'>Tally</li></a>
        <a href='/simple.html'><li data-tally-attribute='class templateClass' class='invisible'>Tally</li></a>
        <a href='/handlebars.html'><li class='tab'>Handlebars</li></a>
        <a href='/plates.html'><li class='tab'>Plates</li></a>
    </ul>

   <section data-tally-attribute='class class' class='invisible'>
    <h1>Rendered template</h1>
    <p>This is the template as rendered by Tally, along with the Tally source, showing the HTML, the data object, and the Express 3 router in node.js. All the other examples render to exactly the same output.</p>
    </section>

    <section data-tally-dummy id='tally-template-summary' class='rendered-summary'>
        <h1>Tally template</h1>
        <p>This is the template in Tally. Unlike the Handlebars example, the template looks almost identical to the final render and can be used to design in the browser. You can even add dummy data (like the second and third list items) which are not included in the final render. Unlike the Plates example, no mapping code is necessary. Data is mapped automatically to the HTML elements.</p>
    </section>

    <section id='template'>
        <div>
            <!-- Template source -->

            <h1 data-tally-text='title'>A placeholder title</h1>

            <p>Hello from <span data-tally-text='name'>name of the templating engine</span>!<p>

            <!-- Text substitution -->
            <p data-tally-text='content'>This paragraph is a placeholder.</p>

            <!-- Attribute substitution -->
            <p><a data-tally-attribute='href newURL' href='/'>This should link to Aral’s homepage.</a></p>

            <!-- Custom Formatter -->
            <p><a data-tally-attribute='href correctURLFragment fullURL' href='http://aralbalkan.com'>This should link to the Modern iOS Development workshop.</a></p>

            <p>This should be Aral’s headshot:</p>

            <!-- Placeholder image -->
            <img data-tally-attribute='src aralImageURL' src='http://placehold.it/600x600'>

            <h2>Friends and their skills</h2>

            <!-- Conditional -->
            <ul data-tally-if='friends'>

                <!-- Repeater -->
                <li data-tally-repeat='friend friends'>
                    <p><span data-tally-text='friend.name'>Name</span> knows <span data-tally-text='friend.skills'>skills</span>.</p>
                </li>

                <!-- Dummy data -->
                <li data-tally-dummy>
                    <p>Some sample content.</p>
                </li>

                <li data-tally-dummy>
                    <p>That could help when styling the page.</p>
                </li>
            </ul>

            <!-- Conditional -->
            <p data-tally-if='not:friends'>No friends found.</p>

        </div>
    </section>

    <section id='source'>
        <h2>HTML</h2>
        <pre><code class='language-markup'>&lt;h1 data-tally-text=&#039;title&#039;&gt;A placeholder title&lt;/h1&gt;

&lt;p&gt;Hello from &lt;span data-tally-text=&#039;name&#039;&gt;name of the templating engine&lt;/span&gt;!&lt;p&gt;

&lt;!-- Text substitution --&gt;
&lt;p data-tally-text=&#039;content&#039;&gt;This paragraph is a placeholder.&lt;/p&gt;

&lt;!-- Attribute substitution --&gt;
&lt;p&gt;&lt;a data-tally-attribute=&#039;href newURL&#039; href=&#039;/&#039;&gt;This should link to Aral&rsquo;s homepage.&lt;/a&gt;&lt;/p&gt;

&lt;!-- Custom Formatter --&gt;
&lt;p&gt;&lt;a data-tally-attribute=&#039;href correctURLFragment fullURL&#039; href=&#039;http://aralbalkan.com&#039;&gt;This should link to the Modern iOS Development workshop.&lt;/a&gt;&lt;/p&gt;

&lt;p&gt;This should be Aral&rsquo;s headshot:&lt;/p&gt;

&lt;!-- Placeholder image --&gt;
&lt;img data-tally-attribute=&#039;src aralImageURL&#039; src=&#039;http://placehold.it/600x600&#039;&gt;

&lt;h2&gt;Friends and their skills&lt;/h2&gt;

&lt;!-- Conditional --&gt;
&lt;ul data-tally-if=&#039;friends&#039;&gt;
  &lt;!-- Repeater --&gt;
  &lt;li data-tally-repeat=&#039;friend friends&#039;&gt;
    &lt;p&gt;&lt;span data-tally-text=&#039;friend.name&#039;&gt;Name&lt;/span&gt; knows &lt;span data-tally-text=&#039;friend.skills&#039;&gt;skills&lt;/span&gt;.&lt;/p&gt;
&lt;/li&gt;

  &lt;!-- Dummy data --&gt;
  &lt;li data-tally-dummy&gt;
    &lt;p&gt;Some sample content.&lt;/p&gt;
  &lt;/li&gt;
  &lt;li data-tally-dummy&gt;
    &lt;p&gt;That could help when styling the page.&lt;/p&gt;
  &lt;/li&gt;
&lt;/ul&gt;

&lt;!-- Conditional --&gt;
&lt;p data-tally-if=&#039;not:friends&#039;&gt;No friends found.&lt;/p&gt;</code></pre>
    </section>

    <section id='server'>
        <h2>Data</h2>
        <pre id='data'><code class='language-coffeescript'>data =
  title: 'Tally sample'
  name: 'Tally'
  content: 'This is a simple example to demonstrate Tally, a templating engine for Express (node.js) and client‐side JavaScript.'
  newURL: 'http://aralbalkan.com'
  correctURLFragment: 'moderniosdevelopment'
  aralImageURL: 'http://aralbalkan.com/images/aral.jpg'
  friends:
  [
    {name: 'Laura', skills: 'design, development, illustration, speaking'},
    {name: 'Seb', skills: 'particles, games, JavaScript, C++'},
    {name: 'Natalie', skills: 'HTML, CSS'}
  ]</code></pre>

        <h2>Express 3 router (node.js)</h2>
        <pre><code class='language-coffeescript'>exports.route = (request, response) -&gt;
# Custom formatter
data.__tally = {
  formatters:
    fullURL: (value) -&gt;
      return 'http://' + value + '.com'
}
response.render 'simple', data
</code></pre>
    </section>

    <div data-tally-dummy id='tallyControls'>
        <button id='highlightTemplate'>Show highlights</button>
    </div>

    <script src='js/prism.js'></script>

</body>
</html>