/* Template highlights */

[data-tally-repeat].show, [data-tally-text].show, [data-tally-attr].show
{
    border: 1px dotted black;
}

[data-tally-repeat].show:before
{
    content: url('repeat.png');
    float:right;
}

[data-tally-if^='not:'].show
{
    border: 1px dotted red;
}

[data-tally-if='false'].show
{
	opacity: 0.25;
}

#highlight-template
{
    position:fixed;
    top: 12px;
    right: 12px;
    width: 200px;
    height: 30px;
    font-size: 16px;
}
