html
{
	padding: 0 24px;
}

body
{
	font-size: 14px;
	margin:60px auto;
	margin-top:12px;
	line-height: 24px;
	font-family:'Avenir Next','Helvetica Neue',Helvetica,Arial,sans-serif;
	height: 100%;
	text-align: justify;

	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

nav
{
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ecf0f1;
  padding: 0px;
  padding-left: 0px;
}

nav h1
{
  color: black;
  font-size: 16px;
  line-height: 16px;
  margin: 6px;
}


h1,h2
{
	font-weight:500;
	margin-bottom: 24px;
	margin-top: 24px;
}

h2
{
	margin-bottom: 12px;
}

ul
{
	margin-bottom: 24px;
}

li
{
	margin: 12px 0;
}

a
{
	text-decoration: none;
	color: #7f8c8d;
}

footer
{
	margin-top:36px;
	border-top:1px solid #000;
	font-size:small;
	line-height: 18px;
}

abbr
{
	border-bottom: 1px dotted gray;
}


#tally-logo
{
	width:100%;
	max-width:320px;
	/*position: fixed;*/
	margin: 0 auto;
	display:block;
}


#short-description
{
	text-align: center;
	color: #777;
	margin-bottom: 24px;
}

.tabs
{
	list-style-type: none;
	border-bottom: 10px solid #95a5a6;
	text-align:right;
	padding-top: 0px;
	padding-bottom: 0;
	overflow: hidden;
	display:block;
	margin-top: -12px;
}

.tabs li
{
	margin-right: 6px;
	margin-bottom:  0;
	padding: 0 10px;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	background-color: #7f8c8d;
	float:left;
	color: #404040;
}

li.selected
{
	background-color: #95a5a6;
	color: #252525;
}

.invisible
{
	display:none;
}

@media all and (max-width: 400px)
{
  .tabs
  {
    font-size: 14px;
    padding-bottom: 0;
  }
  .tabs li
  {
  	padding: 0 6px;
  	margin-right: 2px;
  }

}
