/* Template highlights */

[data-tally-repeat].show, [data-tally-text].show, [data-tally-attr].show
{
    border: 1px dotted black;
}

[data-tally-repeat].show:before
{
    content: url('/images/repeat.png');
    float:right;
}

[data-tally-if].show
{
    border: 1px dashed #3892E3;;
}

[data-tally-if^='error'].show
{
    border: 1px dotted #E33838;
}

[data-tally-if='false'].show, [data-tally-dummy].show
{
    border: none;
	opacity: 0.25;
}

#highlightTemplate, #renderTemplate
{
    /*display: block;*/
    width: 200px;
    height: 30px;
    font-size: 16px;
    margin: 12px auto;
}

#tallyControls
{
    position:fixed;
    bottom: 0;
    left: 0;
    background-color: gray;
    width: 100%;
    text-align: center;
}
